@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
  font-size: 100%;
} /*16px*/

:root {
  --color-primary: #f4694c;
  --bg-black: #000308;
  --color-white: #fff;
  --color-grey: rgb(101, 100, 100);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(237, 240, 239);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* line-height: 1.75; */
  color: #000000;

  margin: 0 auto;
}
/* HEADER */
nav ul{
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    list-style: none;
    color: var(--color-white);
}
nav ul li{
    transition: all 1s ease-in-out;
}
nav ul li:hover{
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}
.orangeBtn{
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 18px 34px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    transition: all 1s ease-in-out;
}
.orangeBtn:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
}
.navbtns button:first-child{
    color: var(--color-white);
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    border: none;
    transition: all 1s ease-in-out;
    padding: 18px 34px;
}
.navbtns button:first-child:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
}
nav{
    height: 15vh;
    display: flex;
    flex-direction: row;
    column-gap: 160px;
    align-items: center;
    margin-left: 112px;
}
.navbtns{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    position: relative;
    left: 140px;
}
/* HEADER */
header{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
}
.left{
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.right{
    width: 34%;
    position: relative;
    top: 65px;
   
}
.threeElements{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}
.twoElements{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}
.left h1{
    font-size: 60px;
    font-weight: 600;
    color: var(--color-white);
}
.left p{
    font-size: 20px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 44px;
}
.header button:last-child{
    color: var(--color-white);
    background-color: transparent;
    border: 1px solid var(--color-white);
    font-size: 20px;
    font-weight: 600;
    transition: all 1s ease-in-out;
    padding: 18px 34px;
}
.header button:last-child{
    margin-left: 20px;
}

.header button:last-child:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
}
.twoElements img{
    width: 50px;
    height: 8px;
    position: relative;
    top: 75px;
}
.twoElements h3{
    font-size: 34px;
    font-weight: 600;
    color: var(--color-white);
}
.arrow{
    width: 100px;
    height: 18px;
    position: relative;
    top: 270px;
}
.playBtn{
    position: relative;
    left: 100px;
}
.navHeaderWrapper{
    background-image: url("./Assets/Photos/futuristic-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(10%);
    filter: contrast(-10%);
}
/* FOUR CARDS */
figure{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blackBig{
    font-size: 60px;
    font-weight: 400;
}
.gameCards{
    width: 360px;
    height: 500px;
}
.gameCard1{
    background-image: url("./Assets/Photos/image\ 2.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: -350px 0px;
}
.gameCard2{
    background-image: url("./Assets/Photos/image\ 4.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: -270px 0px;
     
}
.gameCard3{
    background-image: url("./Assets/Photos/image\ 3.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: -210px 0px;
     
}
.gameCard4{
    background-image: url("./Assets/Photos/Rectangle\ 56.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: -270px 0px;
    
}
.cardWrapper{
    height: 70%;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
}
.displayRow{
    height: 160px;
    background: rgba(27, 27, 28, 0.7);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    position: relative;
    top: 340px;
}
.displayCol{
    height: 360px;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    
}
.displayCol h1{
    font-size: 26px;
    font-weight: 300;
}
.displayCol p{
    font-size: 22px;
    font-weight: 300;
}
.displayCol  div img{
    width: 100px;
}
.fiveStars{
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}
.fiveStars  section img{
    width: 20px;
}
.displayRow section button{
    font-size: 16px;
    font-weight: 300;
}
/* ARTICLE WITH ONE IMAGE */
.oneImageText{
    height: 100vh;
    display: flex;
    flex-direction: row;
    column-gap: 360px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.articleTwoBtns button:last-child{
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-primary);
    font-size: 20px;
    font-weight: 600;
    transition: all 1s ease-in-out;
    padding: 18px 34px;
    margin-left: 20px;
}


.articleTwoBtns button:last-child:hover{
    color: var(--color-white);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
.oneImageText div{
    width: 500px;
}
.articleLeft img{
    width: 660px;
    height: 580px;
}
.greyText{
    font-size: 20px;
    font-weight: 400;
    color: var(--color-grey);
}
/* FOUR  CARDS */
.fourGameCards section img{
    width: 320px;
    height: 420px;
}
.cardRight{
    width: 320px;
    height: 420px
}
 .cardRight h1{
    font-size: 30px;
    font-weight: 500;
}

.cardRight h3{
    font-size: 25px;
    font-weight: 400;
    color: var(--color-primary);
}
.fourGameCards{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.fourGameCardsParent{
    display: grid;
    grid-template-columns: 680px 680px;
    column-gap: 60px;
    row-gap: 60px;
    justify-content: center;

}


