*{
    margin: 0;
    padding: 0;
    outline: 0;
    color: rgb(229, 232, 235);
    font-family: Poppins,'Courier New', Courier, monospace;
}
:root{
    --btn_bg: rgb(186, 12, 197);
}
body{
    max-width: 1440px;
   margin: 0 auto;
}
.logo{
    width: 100px;
}
button{
    background-color: var(--btn_bg);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}
.list-item{
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    
}
ul{
    display: flex;
    /* flex-direction: row; */
    column-gap: 70px;
}
.hero-heading{
    font-size: 54px;
    font-weight: 600;
    width: 580px;
    font-family: Montserrat,'Courier New', Courier, monospace;
}
.hero-description{
    font-size: 24px;
    font-weight: 400;
}
.line{
    height: 36px;
    width: 2px;
    background-color: rgb(229, 232, 235);
}
.navbar{
    display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     column-gap: 40px;
     height: 80px;
     background-color: rgb(21, 21, 21);
     padding: 0   100px;
}
.button-small{
    position: relative;
    left: 190px;
}
.container{
    background-image: url("./Assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: 0px 0px;

    
    display: flex;
    flex-direction: column;
    row-gap: 200px;

    padding-bottom: 284px;
}
.hero{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}
.hide-seek{
    /* display: none; */
    visibility: hidden;
    font-size: 40px;
}

@media only screen and (min-width: 370px) and (max-width:425px){
    .logo{
        width: 50px;
    }
    .line{
      visibility : hidden;
    }
    .grow-list{
       visibility : hidden;
    }
    .hide-seek{
        display: block;
        visibility: visible;
        color: aqua;
        position: absolute;
        right: 70px;
        top: 20px;
    }
    .container{
        background-image: url("./Assets/bg.png");
        background-repeat: no-repeat;
        background-size: cover ;
        background-position: 0px -60px;
    
        
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        justify-content: center;
        align-items: center;
    
        padding-bottom: 28px;
    }
    /*  navbar */
    .navbar{
        color: #ffffff;
    }
    .logo{
        width: 50px;
        z-index: 3;
    }
    .hero-heading{
        font-size: 34px;
        font-weight: 400;
        width: 320px;
    }
    .hero-description{
        font-size: 18px;
        font-weight: 300;
    }
    .button-small{
        position: absolute;
        display: none;
    }
    .navbar{
        display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         box-sizing: border-box;
         column-gap: 0px;
         height: 80px;
         background-color: rgb(21, 21, 21);
         padding: 0   100px;
    }

}
