@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

:root {
  --bg-black: #0f0f10;
  --bg-grey: #1e1e21;
  --color-white: #f2f2f3;
}

body {
  box-sizing: border-box;
  background: var(--bg-black);
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
}
/* HEADER */
.logo img{
    position: absolute;
    top: 50px;
}
#secondItem img{
    width: 250px;
}
nav{
    height: 15vh;
    display: flex;
    flex-direction: row;
    column-gap: 70px;
    align-items: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}
nav ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-white);
}
.btn{
    background-color: var(--bg-grey);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 300;
    border: none;
    padding: 16px 36px;
    border-radius: 12px;
}
#belowNav h1{
    font-size: 50px;
    font-weight: 500;
    color: var(--color-white);
}
#belowNav h5{
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
}
#belowNav p{
    color: var(--color-white);
    font-size: 14px;
    font-weight: 200;
}
.groupBtn{
    width: 240px;
    height: 48px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-grey);
    color: var(--color-white);
    border: none;
    border-radius: 12px;

}
.groupBtn p{
    font-size: 16px;
    font-weight: 300;
}
main{
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    justify-content: center;
}
#belowNav{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#belowNav div > img{
    position: relative;
    left: 40px;
}
